.specialist-container {
    padding: 20px;
    background-color: #f9f9f9;
     background-image: url('../../../assets/images/medical-background-healthcare-technology_120542-1285.avif');
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .specialist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .specialist-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .specialist-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .specialist-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .card-content h3 {
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .card-content p {
    color: #555;
    font-size: 14px;
  }
  
  .book-now-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .book-now-button:hover {
    background-color: #218838;
  }